@media (max-width: 1050px) {
  body {
    overflow-x: hidden;
  }
}
body {
  font: 14px/2 "Open sans", sans-serif;
  letter-spacing: 0.05em;
}

@media (max-width: 992px) {
  .header .container .logo {
    margin-left: 10px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
}
/* Start Shop */

.shop .container {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop .box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 12%);
  padding: 45px;
  margin: 15px 0;
  width: 950px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "images info"
    "images description";
  grid-gap: 35px;
}

.shop .box .images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "active active active"
    "idle idle idle";
  grid-gap: 5px;
}

.shop .box .images .img-holder img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.shop .box .images .img-holder.active {
  grid-area: active;
}

.shop .box .images .img-holder:not(.active):hover {
  opacity: 0.95;
  cursor: pointer;
}

.shop .box .basic-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.shop .box .basic-info .options a:hover {
  background-color: var(--tertiary-color);
}

.shop .box .description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.shop .box .description p {
  color: var(--gray-color);
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 640px) {
  .shop .box {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding: 35px;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "images"
      "info"
      "description";
  }
}

/* End Shop */
